@import '../../../_common/styles/common.scss';




.bg{
	transform-origin: 450px 680px;
	@include pos-scale(-120, -285, 0.9);
	// @include pos-scale(-324, -340, 0.5);
	// @include pos-scale(0, 0, 0.5);

	// transform-origin: 240px 150px;
	// @include pos-scale(-120, -75, 0.8);


	// @include pos-scale(-150, -125, 0.5);
	// display: none;
}



#banner{
	width: 300px;
	height: 600px;
}

.frame1{
	// opacity: 1;
}