@import '../../../_common/styles/common.scss';




.bg{
	// transform-origin: 450px 680px;
	// @include pos-scale(-80, -265, 0.9);
	
	transform-origin: 450px 680px;
	@include pos-scale(-120, -255, 0.9);
}



#banner{
	width: 300px;
	height: 600px;
}

.frame1{
	// opacity: 1;
}