@import '../../../_common/styles/common.scss';

#banner{
 width: 300px;
 height: 250px;
 
}

#olg{
	width: 136px;
	height: 69px;
	@include pos(0, 188);
}



#legalBtn{	
	@include pos(150, 204);	
	width: 80px;
	// opacity: 1;

}


.bg{
	transform-origin: 50% 50%;
	@include pos-scale(-187, -118, 1);
	// @include pos-scale(-150, -125, .5);
	// opacity: .5;
}